#Ansible information:
#    Filename: {{ template_path | regex_replace(".*/ansible[^/]*", "..") }}
#    Filedate: {{ template_mtime | regex_replace("\..*$", "")  }}
#    Hostname: {{ template_host }}

#macros
ext_if="vio0"
int_if="lo1"
cld_if="enc0"

ext_ip="46.23.93.156"
ext_net="46.23.93.128/26"
int_ip="172.16.1.1"
int_net="172.16.1.0/24"
lan_net="10.0.0.0/24"
wls_net="10.0.1.0/24"
dmz_net="172.16.0.0/24"

table <algol> { 172.16.1.1 }

table <wormhole> { 45.83.232.124 }
table <blackhole> { 46.23.93.156 }
table <quasar> { 46.23.93.162 }

table <naos> { 172.16.0.3 }

table <openbsd_mirrors> { 151.101.2.217, 151.101.66.217, 151.101.130.217, 151.101.194.217, 145.220.21.40, 151.101.38.217 151.101.39.52 }
table <openbsd_amsterdam_dns> { 46.23.91.31 }
table <rspamd> { 151.115.41.123, 88.198.198.21 }

#options
set skip on lo0
set block-policy return
set loginterface $ext_if
set state-policy if-bound
set debug emerg
set limit states 10000
set optimization normal
set reassemble yes

#scrub all traffic
match in all scrub (random-id)

#default drop rules
block log all

#ext rules
#<ruleset id="00000" description="Default ICMP rules" eol="20250101">
pass in log quick on $ext_if inet proto icmp from any to <blackhole>
pass out log quick on $ext_if inet proto icmp from <blackhole> to any
#</ruleset>

#<ruleset id="00001" description="Allow smtp from the internet to blackhole for mail delivery" eol="20250101">
pass in log quick on $ext_if inet proto tcp from any to <blackhole> port smtp
pass out log quick on $ext_if inet proto tcp from <blackhole> to any port smtp
#</ruleset>

#<ruleset id="00002" description="Allow DNS from internet to blackhole for domain resolving" eol="20250101">
pass in log quick on $ext_if inet proto { udp, tcp } from any to <blackhole> port domain
#</ruleset>

#<ruleset id="00004" description="Allow HTTP and HTTPS for website traffic" eol="20250101">
pass in log quick on $ext_if inet proto tcp from any to <blackhole> port { www, https }
#</ruleset>

#cld rules
#<ruleset id="10000" description="Default ICMP rules" eol="20250101">
pass in log quick on $cld_if inet proto icmp from { $wls_net, $lan_net, $dmz_net } to <algol>
pass out log quick on $cld_if inet proto icmp from <algol> to { $wls_net, $lan_net, $dmz_net }
#</ruleset>

#<ruleset id="10001" description="Allow SSH access from lan_net to algol" eol="20250101">
pass in log quick on $cld_if inet proto tcp from $lan_net to <algol> port ssh
#</ruleset>

#<ruleset id="10002" description="Allow SMTP access from naos to algol" eol="20250101">
pass in log quick on $cld_if inet proto tcp from <naos> to <algol> port smtp
#</ruleset>

#<ruleset id="10002" description="Allow SMTP access from algol to naos" eol="20250101">
pass out log quick on $cld_if inet proto tcp from <algol> to <naos> port smtp
#</ruleset>

#host rules
#<ruleset id="20000" description="Allow all traffic between wormhole, quasar and blackhole" eol="20250101">
pass in log quick on $ext_if from { <wormhole> <quasar> } to <blackhole>
pass out log quick on $ext_if from <blackhole> to { <wormhole>, <quasar> }
#</ruleset>

#<ruleset id="20001" description="Allow from blackhole to specific destinations for packages and updates" eol="20250101">
pass out log quick on $ext_if inet proto tcp from <blackhole> to <openbsd_mirrors> port { www, https }
#</ruleset>

#<ruleset id="20002" description="Allow from blackhole to OpenBSD Amterdam DNS-servers" eol="20250101">
pass out log quick on $ext_if inet proto { tcp, udp } from <blackhole> to <openbsd_amsterdam_dns> port domain
#</ruleset>

#<ruleset id="20003" description="Allow from blackhole to google DNS-servers for DNS" eol="20250101">
pass out log quick on $ext_if inet proto tcp from <blackhole> to <rspamd> port { www, https }
#</ruleset>

#<ruleset id="20004" description="Allow from blackhole to internet port 80 for acme client letsencrypt" eol="20250101">
pass out log quick on $ext_if inet proto tcp from <blackhole> to any port https
#</ruleset>

#------------------------------------------------------------------------------
#Copyright (c) 2017 by {{ name }} - {{ company }}
#------------------------------------------------------------------------------

