#Ansible information:
#    Filename: {{ template_path | regex_replace(".*/ansible[^/]*", "..") }}
#    Filedate: {{ template_mtime | regex_replace("\..*$", "")  }}
#    Hostname: {{ template_host }}

#macros
ext_if="vio0"
int_if="vio1"
cld_if="enc0"

ext_ip="136.144.215.240"
ext_net="/136.144.215.0/24"
int_ip="172.16.1.2"
int_net="172.16.1.0/24"
lan_net="10.0.0.0/24"
wls_net="10.0.1.0/24"
dmz_net="172.16.0.0/24"

table <antares> { 172.16.1.2 }

table <wormhole> { 45.83.232.124 }
table <blackhole> { 149.210.150.253 }
table <quasar> { 136.144.215.240 }

table <naos> { 172.16.0.3 }
table <procyon> { 172.16.0.6 }

table <openbsd_mirrors> { 151.101.2.217, 151.101.66.217, 151.101.130.217, 151.101.194.217, 145.220.21.40 }
table <transip_dns> { 195.8.195.8, 195.135.195.135 }
table <rspamd> { 151.115.41.123, 88.198.198.21 }

#options
set skip on lo0
set block-policy return
set loginterface $ext_if
set state-policy if-bound
set debug emerg
set limit states 10000
set optimization normal
set reassemble yes

#scrub all traffic
match in all scrub (random-id)

#default drop rules
block log all

#ext rules
#<ruleset id="00000" description="Default ICMP rules" eol="20230101">
pass in log quick on $ext_if inet proto icmp from any to <quasar>
pass out log quick on $ext_if inet proto icmp from <quasar> to any
#</ruleset>

#<ruleset id="00001" description="Allow SMTP from the internet for mail delivery" eol="20230101">
pass in log quick on $ext_if inet proto tcp from any to <quasar> port smtp
pass out log quick on $ext_if inet proto tcp from <quasar> to any port smtp
#</ruleset>

#<ruleset id="00002" description="Allow DNS from internet to anatares for domain resolving" eol="20230101">
pass in log quick on $ext_if inet proto { udp, tcp } from any to <quasar> port domain
#</ruleset>

#<ruleset id="00004" description="Allow HTTP to webserver for letsencrypt authentication" eol="20230101">
pass in log quick on $ext_if inet proto tcp from any to <quasar> port www
#</ruleset>

#cld rules
#<ruleset id="10000" description="Default ICMP rules" eol="20230101">
pass in log quick on $cld_if inet proto icmp from { $wls_net, $lan_net, $dmz_net } to <antares>
pass out log quick on $cld_if inet proto icmp from <antares> to { $wls_net, $lan_net, $dmz_net }
#</ruleset>

#<ruleset id="10001" description="Allow SSH access from lan_net to Antares" eol="20230101">
pass in log quick on $cld_if inet proto tcp from $lan_net to <antares> port ssh
#</ruleset>

#<ruleset id="10002" description="Allow SMTP access from Naos to Antares" eol="20230101">
pass in log quick on $cld_if inet proto tcp from <naos> to <antares> port smtp
#</ruleset>

#<ruleset id="10002" description="Allow SMTP access from Antares to Naos" eol="20230101">
pass out log quick on $cld_if inet proto tcp from <antares> to <naos> port smtp
#</ruleset>

#<ruleset id="10003" description="Allow Procyon to Antares for Prometheus monitoring" eol="20230101">
pass in log quick on $cld_if inet proto tcp from <procyon> to <antares> port 9100
#</ruleset>

#<ruleset id="10004" description="Allow syslog traffic from Antares to Procyon" eol="20230101">
pass out log quick on $cld_if inet proto tcp from <antares> to <procyon> port 514
#</ruleset>

#host rules
#<ruleset id="20000" description="Allow traffic between Wormhole, Blackhole and Quasar" eol="20230101">
pass in log quick on $ext_if from { <wormhole>, <blackhole> } to <quasar>
pass out log quick on $ext_if from <quasar> to { <wormhole>, <blackhole> }
#</ruleset>

#<ruleset id="20001" description="Allow from Blackhole to specific destinaitons for packages and updates" eol="20230101">
pass out log quick on $ext_if inet proto tcp from <quasar> to <openbsd_mirrors> port { www, https }
#</ruleset>

#<ruleset id="20002" description="Allow from Quasar to Google DNS-server for DNS" eol="20230101">
pass out log quick on $ext_if inet proto { tcp, udp } from <quasar> to <transip_dns> port domain
#</ruleset>

#<ruleset id="20003" description="Allow from Quasar to rspamd for spamchecks" eol="20230101">
pass out log quick on $ext_if inet proto tcp from <quasar> to <rspamd> port { www, https }
#</ruleset>

#<ruleset id="20004" description="Allow from Quasar to internet port 80 for acme client letsencrypt" eol="20230101">
pass out log quick on $ext_if inet proto tcp from <quasar> to any port https
#</ruleset>

#------------------------------------------------------------------------------
#Copyright (c) 2017 by {{ name }} - {{ company }}
#------------------------------------------------------------------------------
