#jinja2:lstrip_blocks: True
;Ansible information:
;    Filename: {{ template_path | regex_replace(".*/ansible[^/]*", "..") }}
;    Filedate: {{ template_mtime | regex_replace("\..*$", "")  }}
;    Hostname: {{ template_host }}

$ORIGIN 2.16.172.in-addr.arpa.
$TTL 3600

@ IN SOA sirius.galaxy.derksencomputing.nl. jelle.galaxy.derksencomputing.nl. (
        2022081301       ;Serial number
        1200             ;Refresh
        120              ;Retry
        2419200          ;Expire
        3600             ;Min TTL
)
        NS        sirius.galaxy.derksencomputing.nl.

1         IN        PTR        sirius.galaxy.derksencomputing.nl.
2	  IN	    PTR	       mizar.galaxy.derksencomputing.nl.
3	  IN	    PTR	       izar.galaxy.derksencomputing.nl.
4	  IN	    PTR	       centaurus.galaxy.derksencomputing.nl.
5	  IN	    PTR	       vela.galaxy.derksencomputing.nl.
6	  IN	    PTR	       alcor.galaxy.derksencomputing.nl.

;------------------------------------------------------------------------------
;Copyright (c) 2017 by {{ name }} - {{ company }}
;------------------------------------------------------------------------------
