#Ansible information:
#    Filename: {{ template_path | regex_replace(".*/ansible[^/]*", "..") }}
#    Filedate: {{ template_mtime | regex_replace("\..*$", "")  }}
#    Hostname: {{ template_host }}

#       $OpenBSD: dhcpd.conf,v 1.1 2014/07/11 21:20:10 deraadt Exp $
#
# DHCP server options.
# See dhcpd.conf(5) and dhcpd(8) for more information.
#

# Network:              192.168.1.0/255.255.255.0
# Domain name:          my.domain
# Name servers:         192.168.1.3 and 192.168.1.5
# Default router:       192.168.1.1
# Addresses:            192.168.1.32 - 192.168.1.127
#

#lan network
subnet 10.0.0.0 netmask 255.255.255.0 {
        option domain-name "{{ domain_name }}";
        option routers 10.0.0.1;
        option domain-name-servers 172.16.0.5;
        range 10.0.0.100 10.0.0.200;
}

#wls network
subnet 10.0.1.0 netmask 255.255.255.0 {
        option  domain-name "{{ domain_name }}";
        option routers 10.0.1.1;
        option domain-name-servers 172.16.0.5;
        range 10.0.1.100 10.0.1.200;
}

#dmz network
subnet 172.16.0.0 netmask 255.255.255.0 {
        option  domain-name "{{ domain_name }}";
        option routers 172.16.0.1;
        option domain-name-servers 172.16.0.1;
        range 172.16.0.100 172.16.0.200;
}

#mgt network
subnet 172.16.2.0 netmask 255.255.255.0 {
        option routers 172.16.2.1;
        option domain-name-servers 172.16.2.1;
        range 172.16.2.100 172.16.2.200;
}

#kam network
subnet 192.168.0.0 netmask 255.255.255.0 {
        option routers 192.168.0.1;
        option domain-name-servers 8.8.8.8, 8.8.4.4;
        range 192.168.0.100 192.168.0.200;
}

# lan network
host megrez {
        hardware ethernet 34:c9:3d:01:13:d2;
        fixed-address 10.0.0.2;
        option host-name "megrez";
}

# wls network
host regulus {
	# Jelle's Google Pixel Phone
        hardware ethernet c8:2a:dd:a5:ea:13;
        fixed-address 10.0.1.2;
        option host-name "regulus";
}

host vega {
	# Philips TV Room
        hardware ethernet 00:bf:af:c3:5d:28;
        fixed-address 10.0.1.3;
        option host-name "vega";
}

host rigel {
	# Philips Soundbar Room
        hardware ethernet 60:b6:06:24:2c:fa;
        fixed-address 10.0.1.4;
        option host-name "rigel";
}

# dmz network
host sirius {
	# OpenBSD Firewall VM
        hardware ethernet 52:54:00:65:a1:26;
        fixed-address 172.16.0.1;
        option host-name "sirius";
}

host alnitak {
	# Podman container server photoprism, jellyfin, vault and homer
        hardware ethernet 52:54:00:bd:ad:30;
        fixed-address 172.16.0.2;
        option host-name "alnitak";
}

host naos {
	# OpenBSD mail server
        hardware ethernet 52:54:00:37:fb:bb;
        fixed-address 172.16.0.3;
        option host-name "naos";
}

host altair {
	# FreeBSD fileserver
        hardware ethernet 52:54:00:e4:a1:3f;
        fixed-address 172.16.0.4;
        option host-name "altair";
}

# mgt network
host sirius {
	# OpenBSD firewall VM
        hardware ethernet 52:54:00:99:35:ec;
        fixed-address 172.16.2.1;
        option host-name "sirius";
}

host solaris {
	# Solaris hypervisor server IPMI
        hardware ethernet d0:50:99:e5:38:4f;
        fixed-address 172.16.2.2;
        option host-name "solaris";
}

host alcor {
	# Alcor hypervisor server
        hardware ethernet a8:a1:59:c0:4b:e1;
        fixed-address 172.16.2.3;
        option host-name "alcor";
}

host izar {
	# Izar cisco core switch
        hardware ethernet 34:b8:83:9a:7b:c3;
        fixed-address 172.16.2.4;
        option host-name "izar";
}

host vela {
	# Cisco wireless access controller
        hardware ethernet 00:00:5e:00:01:01;
        fixed-address 172.16.2.5;
        option host-name "vela";
}

host capella {
	# Shelly power outlet controller room_tv
        hardware ethernet 44:17:93:cf:c4:14;
        fixed-address 172.16.2.7;
        option host-name "capella";
}

host betelgeuse {
	# Shelly power outlet controller server
        hardware ethernet 0c:dc:7e:f6:6c:b0;
        fixed-address 172.16.2.8;
        option host-name "betelgeuse";
}

host meissa {
	# Shelly power outlet controller room_lights
        hardware ethernet 0c:dc:7e:f6:5b:5c;
        fixed-address 172.16.2.9;
        option host-name "meissa";
}

host saiph {
	# Shelly power outlet controller room_play_lights_phone
        hardware ethernet 0c:dc:7e:f6:3d:94;
        fixed-address 172.16.2.10;
        option host-name "saiph";
}

host hamal {
	# Shelly power outlet controller office desktop
        hardware ethernet 48:55:19:99:dd:b8;
        fixed-address 172.16.2.11;
        option host-name "hamal";
}

host alberio {
	# Shelly power outlet controller office_lights
        hardware ethernet 48:55:19:99:5e:c4;
        fixed-address 172.16.2.12;
        option host-name "alberio";
}

host pollux {
	# Shelly power outlet controller office_heater
        hardware ethernet 0c:dc:7e:f5:b2:38;
        fixed-address 172.16.2.13;
        option host-name "pollux";
}

host sun {
	# Elgato key-light
        hardware ethernet 3c:6a:9d:1b:57:64;
        fixed-address 172.16.2.14;
        option host-name "sun";
}

host geminga {
	# Cisco access point hallway upstairs
        hardware ethernet 34:b8:83:47:ab:c4;
        fixed-address 172.16.2.15;
        option host-name "geminga";
}

host calvera {
	# Cisco access point living room
        hardware ethernet 34:b8:83:47:a9:0c;
        fixed-address 172.16.2.16;
        option host-name "calvera";
}

host lich {
	# Cisco access point server
        hardware ethernet 14:84:73:64:45:88;
        fixed-address 172.16.2.17;
        option host-name "lich";
}

host hercules {
	# Cisco access point room
        hardware ethernet 14:84:73:64:30:1c;
        fixed-address 172.16.2.18;
        option host-name "hercules";
}

