#Ansible information:
#    Filename: {{ template_path | regex_replace(".*/ansible[^/]*", "..") }}
#    Filedate: {{ template_mtime | regex_replace("\..*$", "")  }}
#    Hostname: {{ template_host }}

#
# $OpenBSD: acme-client.conf,v 1.2 2019/06/07 08:08:30 florian Exp $
#
authority letsencrypt {
	api url "https://acme-v02.api.letsencrypt.org/directory"
	account key "/etc/acme/letsencrypt-privkey.pem"
}

authority letsencrypt-staging {
	api url "https://acme-staging-v02.api.letsencrypt.org/directory"
	account key "/etc/acme/letsencrypt-staging-privkey.pem"
}

domain "{{ x509_certificate.cn }}" {
{% if x509_certificate.alt_names is defined %}
	alternative names { {% for alt_name in x509_certificate.alt_names %}{{ alt_name }} {% endfor %}}
{% endif %}
	domain key "/etc/ssl/private/{{ x509_certificate.cn }}.key"
	domain full chain certificate "/etc/ssl/{{ x509_certificate.cn }}.crt"
	sign with letsencrypt
}

#------------------------------------------------------------------------------
#Copyright (c) 2017 by {{ name }} - {{ company }}
#------------------------------------------------------------------------------
