# GALAXY.DERKSENCOMPUTING.NL IPA CA
-----BEGIN CERTIFICATE-----
MIIDuDCCAqCgAwIBAgIBATANBgkqhkiG9w0BAQsFADBFMSMwIQYDVQQKDBpHQUxB
WFkuREVSS1NFTkNPTVBVVElORy5OTDEeMBwGA1UEAwwVQ2VydGlmaWNhdGUgQXV0
aG9yaXR5MB4XDTIwMDEwODE3MzU1NloXDTQwMDEwODE3MzU1NlowRTEjMCEGA1UE
CgwaR0FMQVhZLkRFUktTRU5DT01QVVRJTkcuTkwxHjAcBgNVBAMMFUNlcnRpZmlj
YXRlIEF1dGhvcml0eTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKJk
y8DFb3sqdT3EJlzdSiKmBPhcMaEGLI62DP8opi+cIqkskk2s7E38njOhvxtgmtKm
bbIhOjZJvdb3v2WztQAaVyWkD0WemrIoTvbDUXO+beObJe9Z1ppPEi5pzEUY9T/k
0BeDyk02jImIrA3ZcyZN6yYpTRxvGraTdOqHkanfgnowUU7ooe9DFQa890mfXeem
b2NVIOUDmirP8UINpbYBS/iV7Kjdnn4EGAaLn07qP7AxhCJ2Zckbh4g2+xKxYqCo
orlxMdtpKh92PLk8cuXZvFCdajlU2lBKCkzDIg0ZveNlIKrlJJEdCd00P+ru8Wco
Aw5QmbdiuBrjMEr6cLMCAwEAAaOBsjCBrzAfBgNVHSMEGDAWgBSvw4KA7y+ERSxR
GdmxT3p3gJdnKTAPBgNVHRMBAf8EBTADAQH/MA4GA1UdDwEB/wQEAwIBxjAdBgNV
HQ4EFgQUr8OCgO8vhEUsURnZsU96d4CXZykwTAYIKwYBBQUHAQEEQDA+MDwGCCsG
AQUFBzABhjBodHRwOi8vaXBhLWNhLmdhbGF4eS5kZXJrc2VuY29tcHV0aW5nLm5s
L2NhL29jc3AwDQYJKoZIhvcNAQELBQADggEBAAnMxgg60wXWmtZGzKckMao9gjR6
bh3DMoRQoygYDpPBdJfN0JacW8lF3dP+92/FLl3ARQsyDLX62LrxYovmcf4dDE1I
Uo3SIIWxcHo1oU5MuKYa9DCDg+mQ69wJf4jgbG2ij9K2zsZLQqs3W3FhsDvzGnt2
LmYBcsCuXx7nqetlXlh0qP7nUZpI+4okGz4ssuU3WgIZ69vKWI7aqpsSc4+GWsVp
IGAwSsoaJ6JBidJPbYpHRVpQ1uZ7w/fkEESvZTyPXY7rewVTprkf0iNPgMjvhwY5
DHpjFr6evmf9Sny51B6MscqLe9vvN29wH0aU0id6McW5HBkknh+eNRtfymw=
-----END CERTIFICATE-----
