#Ansible information:
#    Filename: {{ template_path | regex_replace(".*/ansible[^/]*", "..") }}
#    Filedate: {{ template_mtime | regex_replace("\..*$", "")  }}
#    Hostname: {{ template_host }}

#
# LDAP Defaults
#

# See ldap.conf(5) for details
# This file should be world readable but not world writable.

base	dc=galaxy,dc=derksencomputing,dc=nl
uri	ldap://vega.galaxy.derksencomputing.nl
ssl	start_tls
tls_cacert /etc/ssl/ca.crt

#SIZELIMIT	12
#TIMELIMIT	15
#DEREF		never

#------------------------------------------------------------------------------
#Copyright (c) 2017 by {{ name }} - {{ company }}
#------------------------------------------------------------------------------
