#Ansible information:
#    Filename: {{ template_path | regex_replace(".*/ansible[^/]*", "..") }}
#    Filedate: {{ template_mtime | regex_replace("\..*$", "")  }}
#    Hostname: {{ template_host }}

#
# nsswitch.conf(5) - name service switch configuration file
# $FreeBSD: releng/12.1/lib/libc/net/nsswitch.conf 338729 2018-09-17 18:56:47Z brd $
#
#group: compat
group: files ldap
group_compat: nis
hosts: files dns
netgroup: compat
networks: files
#passwd: compat
passwd: files ldap
passwd_compat: nis
shells: files
services: compat
services_compat: nis
protocols: files
rpc: files

#------------------------------------------------------------------------------
#Copyright (c) 2017 by {{ name }} - {{ company }}
#------------------------------------------------------------------------------
