#Ansible information:
#    Filename: {{ template_path | regex_replace(".*/ansible[^/]*", "..") }}
#    Filedate: {{ template_mtime | regex_replace("\..*$", "")  }}
#    Hostname: {{ template_host }}

# $OpenBSD: httpd.conf,v 1.20 2018/06/13 15:08:24 reyk Exp $

server "www.tastingtime.nl" {
  alias tastingtime.nl
  listen on * port 80
  block return 301 "http://www.celiciaceramics.nl$REQUEST_URI"
}

server "www.derksencomputing.nl" {
  alias "derksencomputing.nl"
  listen on egress port 80
  block return 301 "https://www.derksencomputing.nl$REQUEST_URI"
}

server "www.derksencomputing.nl" {
  alias derksencomputing.nl
  listen on * tls port 443
  hsts
  log style combined
  root "/htdocs/www.derksencomputing.nl"
  tls {
    certificate "/etc/ssl/{{ external_hostname }}.crt"
    key "/etc/ssl/private/{{ external_hostname }}.key"
  }
  location "/.well-known/acme-challenge/*" {
    root "/acme"
    request strip 2
  }
}

# Catch all redirect to https://www.derksencomputing.nl
server "*" {
  listen on egress port 80
  block return 301 "https://www.derksencomputing.nl$REQUEST_URI"
}

# Catch all redirect to https://www.derksencomputing.nl
server "*" {
  listen on * tls port 443
  tls {
    certificate "/etc/ssl/{{ external_hostname }}.crt"
    key "/etc/ssl/private/{{ external_hostname }}.key"
  }
  block return 301 "https://www.derksencomputing.nl$REQUEST_URI"
}

#------------------------------------------------------------------------------
#Copyright (c) 2017 by {{ name }} - {{ company }}
#------------------------------------------------------------------------------
