#Ansible information:
#    Filename: {{ template_path | regex_replace(".*/ansible[^/]*", "..") }}
#    Filedate: {{ template_mtime | regex_replace("\..*$", "")  }} 
#    Hostname: {{ template_host }}

# OPENDKIM KEY TABLE
# To use this file, uncomment the #KeyTable option in /etc/opendkim.conf,
# then uncomment the following line and replace example.com with your domain
# name, then restart OpenDKIM. Additional keys may be added on separate lines.

#default._domainkey.example.com example.com:default:/etc/opendkim/keys/default.private
{% if mail_domains is defined %}
{% for domain in mail_domains %}
{{ ansible_hostname }}._domainkey.{{ domain }} {{ domain }}:{{ ansible_hostname }}:/etc/opendkim/keys/{{ domain }}/{{ ansible_hostname }}.private
{% endfor %}
{% endif %}

#------------------------------------------------------------------------------
#Copyright (c) 2017 by {{ name }} - {{ company }}
#------------------------------------------------------------------------------
