MAILDIR=$HOME/Maildir/
DEFAULT=$HOME/Maildir/
LOGFILE=$MAILDIR/procmail.log

:0
* ^From.*@openbsd.org
.openbsd/

:0
* ^To.*jelle\+transip@jellederksen.nl
.transip/

:0
* ^To.*jelle\+coolblue@jellederksen.nl
.coolblue/

:0
* ^To.*jelle\+bol@jellederksen.nl
.bol/

:0
* ^To.*jelle\+netflix@jellederksen.nl
.netflix/

:0
* ^To.*jelle\+linkedin@jellederksen.nl
.linkedin/

:0
* ^To.*jelle\+google@jellederksen.nl
.google/

:0
* ^To.*jelle\+redhat@jellederksen.nl
.redhat/

:0
* ^To.*jelle\+rabobank@jellederksen.nl
.rabobank/


:0
* ^To.*jelle\+nluug@jellederksen.nl
.nluug/

:0
* ^To.*jelle\+nllgg@jellederksen.nl
.nllgg/
