dn: uid=openbsd,cn=sysaccounts,cn=etc,dc=galaxy,dc=derksencomputing,dc=nl
add:objectclass:account
add:objectclass:simplesecurityobject
add:uid:openbsd
add:userPassword:{{ openbsd_ldap_pass }}
add:passwordExpirationTime:20380119031407Z
add:nsIdleTimeout:0
