# $OpenBSD: ntpd.conf,v 1.14 2015/07/15 20:28:37 ajacoutot Exp $
#
# See ntpd.conf(5) and /etc/examples/ntpd.conf

{% if time_server is defined and time_server == true %}
servers pool.ntp.org
sensor *
constraints from "https://www.google.com"

listen on 10.0.0.1
listen on 10.0.1.1
listen on 172.16.0.1
{% elif ansible_os_family == 'Darwin' %}
server {{ ntp_server }}
{% else %}
servers {{ ntp_server }}
{% endif %}
